{{- $nodes := slice -}}
{{- $links := slice -}}
{{- $nodeIds := dict -}}

{{- if and .IsPage (eq .Section "posts") -}}
  {{- $page := . -}}
  {{- $mainId := printf "post:%s" ($page.Params.slug | default $page.File.ContentBaseName) -}}
  {{- $nodes = $nodes | append (dict "id" $mainId "label" $page.Title "type" "main" "url" $page.RelPermalink) -}}
  {{- $nodeIds = merge $nodeIds (dict $mainId true) -}}

  {{- range $page.Params.tags | default slice -}}
    {{- $tagId := printf "tag:%s" (. | urlize) -}}
    {{- if not (index $nodeIds $tagId) -}}
      {{- $nodes = $nodes | append (dict "id" $tagId "label" . "type" "tag" "url" (printf "%s%s/" ("/tags/" | relLangURL) (. | urlize))) -}}
      {{- $nodeIds = merge $nodeIds (dict $tagId true) -}}
    {{- end -}}
    {{- $links = $links | append (dict "source" $mainId "target" $tagId) -}}
  {{- end -}}

  {{- $tags := $page.Params.tags | default slice -}}
  {{- $related := slice -}}
  {{- range where site.RegularPages "Section" "posts" -}}
    {{- if ne .RelPermalink $page.RelPermalink -}}
      {{- $shared := intersect $tags (.Params.tags | default slice) -}}
      {{- if gt (len $shared) 0 -}}
        {{- $related = $related | append . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- range first 5 $related -}}
    {{- $postId := printf "post:%s" (.Params.slug | default .File.ContentBaseName) -}}
    {{- if not (index $nodeIds $postId) -}}
      {{- $nodes = $nodes | append (dict "id" $postId "label" .Title "type" "post" "url" .RelPermalink) -}}
      {{- $nodeIds = merge $nodeIds (dict $postId true) -}}
    {{- end -}}
    {{- $links = $links | append (dict "source" $mainId "target" $postId) -}}
  {{- end -}}
{{- else -}}
  {{- $posts := where site.RegularPages "Section" "posts" -}}
  {{- range first 6 $posts -}}
    {{- $postId := printf "post:%s" (.Params.slug | default .File.ContentBaseName) -}}
    {{- if not (index $nodeIds $postId) -}}
      {{- $nodes = $nodes | append (dict "id" $postId "label" .Title "type" "post" "url" .RelPermalink) -}}
      {{- $nodeIds = merge $nodeIds (dict $postId true) -}}
    {{- end -}}
    {{- range .Params.tags | default slice -}}
      {{- $tagId := printf "tag:%s" (. | urlize) -}}
      {{- if not (index $nodeIds $tagId) -}}
        {{- $nodes = $nodes | append (dict "id" $tagId "label" . "type" "tag" "url" (printf "%s%s/" ("/tags/" | relLangURL) (. | urlize))) -}}
        {{- $nodeIds = merge $nodeIds (dict $tagId true) -}}
      {{- end -}}
      {{- $links = $links | append (dict "source" $postId "target" $tagId) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return (dict "nodes" $nodes "links" $links) -}}
